body{
    margin: 0px;
    padding: 0px;

}
h1{
    font-size: 50px;

}
.heighlight{
    color: orange;
}
.half-side{
    width: 35%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-side img{
    width: 100%;
    margin-left: 50px;
}
#simple{
    margin-top: 20px;
    padding-top: 100px;
    padding-left: 100px;
}
#img-1{
    padding-left:20px;
}
.part-1{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.part-2{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.part-3{
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
}
.part-4{
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
}
section{
    height: 600px;
    width: cover;

}
.button-1{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
.button-2{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
.letest-work img{
    width: 25%;
    padding: 2%;
    display: inline;

}
.letest-work{
    padding-top: 50px;
}
.attractive{
    background-color: darkred;
    color:whitesmoke;
    width: 500px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    
}